.navbar{
    border-color: rgb(212, 212, 212) !important;
}

.navs{
    justify-content: space-between !important;
}

ul{
    list-style: none;
    padding-inline-start: 0 !important;
}
.nav-item:hover, .nav-item:active{
    border-bottom: 2px solid black ;
}
/* 
.nav-link.active{
    border-bottom: 2px solid black ;

} */
.nav-item{
    font-weight: bold;
}

.dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-overlay{
    display: block;
}
.dropdown-menu{
    transform: translateX(-40px);
    width: 200px;
}

.navBreak{
    font-size: 15px;
    color: rgb(212, 212, 212);
    margin-left: 10px;
    margin-right: 10px;
    /* margin-bottom: 5px; */
}

.dropdown-item{
    font-weight: bold;
    font-size: 12px;
    gap: 7px !important;
}
.dropdown-item img{
    width: 15px;
}

.dropdown-item:hover{
    background-color: transparent;
    color: rgb(22, 22, 233);
}

.dropdown-subItem{
    font-size: 12px;
    font-weight: normal;
    color: rgb(170, 170, 170) !important;
}

.navBtnTrial{
    background: linear-gradient(80deg, rgb(7, 135, 255), rgb(69, 8, 211));

}

.signin-btn{
    background-color: #f5f8ff;
    color: #5657ff;
    border: 1px solid #e6eeff;

}

.signin-btn:hover{
    background-color:#dcf4fd ;
    color: #5657ff;

}

.adobeCon{
    border: none !important;

}

.adobeDropdown .dropdown-menu{
    transform: translateX(-100px);
    overflow: visible;
}

.dropdown-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: none;
}

.dropdown-menu{
    display: none;
}

.dropdown-menu.show ~ .dropdown-overlay {
  display: block !important;
}


.dropdown-sm:hover .dropdown-menu-sm{
    display: block !important;
}

