body{
    overflow-x: hidden;
}

.all-nav-container{
    z-index: 1000;
}
.navbar{
    border-color: rgb(212, 212, 212) !important;
}


ul{
    list-style: none;
    padding-inline-start: 0 !important;
}
.nav-item:hover, .nav-link.active{
    border-bottom: 2px solid black ;
}

.nav-item{
    font-weight: bold;
}

.dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-overlay{
    display: block !important;
}

.dropdown-menu{
    transform: translateX(-40px);
    width: 200px;
}

.navBreak{
    font-size: 15px;
    color: rgb(212, 212, 212);
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-item{
    font-weight: bold;
    font-size: 12px;
    gap: 7px !important;
}
.dropdown-item img{
    width: 15px;
}

.dropdown-item:hover, .dropdown-item-recom.active{
    background-color: transparent !important;
    color: rgb(22, 22, 233) !important;
}
.dropdown-item-recom{
    font-size: 15px;
}


.dropdown-subItem{
    font-size: 12px;
    font-weight: normal;
    color: rgb(170, 170, 170) !important;
}

.navBtnTrial{
    background: linear-gradient(80deg, rgb(7, 135, 255), rgb(69, 8, 211));

}

.signin-btn{
    background-color: #f5f8ff;
    color: #5657ff;
    border: 1px solid #e6eeff;

}

.signin-btn:hover{
    background-color:#dcf4fd ;
    color: #5657ff;

}

.adobeCon{
    border: none !important;
}

.adobeDropdown .dropdown-menu{
    transform: translateX(-100px);
    overflow: visible;
}

.dropdown-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.301);
  display: none;
  pointer-events: none;
}

.adobe-dropdown-menu{
    width: 500px;
    transform: translateX(-400px) !important;
}

.dropdown:hover .adobe-dropdown-menu{
    display: flex !important;
}


.dropdown-menu-btn{
    background-color: rgb(245, 248, 255) !important;
}
.dropdown-menu-btn:hover{
    background-color: #dee8ff !important;
    border-color: rgb(84, 187, 255) !important;
    border-width: 1px !important;
}
.dropdown-menu.show ~ .dropdown-overlay {
  display: block;
}

.dropdown-resp:hover .dropdown-menu-resp{
    display: block !important;
    transform: translateX(0);

}

.nav2{
    height: 70px;
}
.filter-container{
    width: 110px;
    height: 100%
}
.filter-container:hover{
    background-color: rgb(228, 227, 227) !important;
}
.search-container{
    background-color: #f9f9f9;
}

.search-container input{
    height: 100%;
}


a{
    text-decoration: none !important;
    color: rgb(19, 19, 197);
}

.view-more:hover{
    text-decoration: underline;

}


.hr{

    all: unset;
  display: block;
  width: 100%;
  height: 4px !important;
  background: linear-gradient(to right, #7383db, #ffb71e, #fd623b, #fbc7d1, #fe7236, #72a6e2, #b6ceed);
}

footer{
    background: black;
    background-color: #191919;
    background-blend-mode: darken;
}

.footer-header{
    font-size: 19px
}
.footer-link{
    color: white;
    font-weight: 500 !important;
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline !important;
    color: white;
}

/* .navbar-nav{
    width: 75% !important;
}

@media (min-width: 769px) and (max-width: 1500px) {
    .navbar-nav{
        width: 70% !important;
    }
    
} */

.Main-heading{
    background-image: url('../images/pro_marketing_banner_2x.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.Main-heading .container{
    height: 100%;
}

.openingHeading{
    width: 800px;
}

.sect2{
    background-color: #fafcff;
}

.card-img-cover{
    padding: 20px;
    border: 1px solid rgb(0, 87, 255);
    border-top: 2px;
    border-radius: 20px;
    width: 70px;
    height: 70px;
    box-shadow: 0px 2px 5px rgba(0, 85, 255, 0.575);
}
.card-img-cover svg{
    fill: rgb(0, 87, 255);
}

.card-blue{
    box-shadow: 0 0 1px rgb(0, 87, 255);
}
.card-blue:hover{
    border-color: rgb(0, 87, 255) !important;
}
@media (max-width: 1000px) {

    .card .card-img-top{
        height: 316;
    }
}

@media (max-width: 768px) {

    .footer-logo{
        width: 150px;
        margin-bottom: 10px;
    }

    
}

@media (max-width: 575px) {
    
    .footer-header, .footer-link{
        text-align: center;
    }
}