body{
    /* overflow-x: hidden; */
    height: 100vh;
    background-color: #fafcff !important;

}

.nav-container-2{
    flex-wrap: nowrap;
    width: 1200px;
}
ul{
    list-style: none;
    padding-inline-start: 0 !important;
}
.nav-item:hover, .nav-link.active{
    border-bottom: 1.5px solid black ;
}
.nav-link.active:hover{
    border: none !important;
}

.nav-item{
    font-weight: bold;
}

.dropdown:hover .dropdown-menu, .dropdown:hover .dropdown-overlay{
    display: block !important;
}

.dropdown-menu{
    transform: translateX(-40px);
    width: 200px;
}

.navBreak{
    font-size: 15px;
    color: rgb(212, 212, 212);
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-item{
    font-weight: bold;
    font-size: 12px;
    gap: 7px !important;
}
.dropdown-item img{
    width: 15px;
}

.dropdown-item:hover, .dropdown-item-recom.active{
    background-color: transparent !important;
    color: rgb(22, 22, 233) !important;
}
.dropdown-item-recom{
    font-size: 15px;
}


.dropdown-subItem{
    font-size: 12px;
    font-weight: normal;
    color: rgb(170, 170, 170) !important;
}

.navBtnTrial{
    background: linear-gradient(80deg, rgb(7, 135, 255), rgb(69, 8, 211));

}

.signin-btn{
    background-color: #f5f8ff;
    color: #5657ff;
    border: 1px solid #e6eeff;

}

.signin-btn:hover{
    background-color:#dcf4fd ;
    color: #5657ff;

}

.adobeCon{
    border: none !important;

}

.adobeDropdown .dropdown-menu{
    transform: translateX(-100px);
    overflow: visible;
}

.dropdown-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.301);
  display: none;
  pointer-events: none;
}

.dropdown-menu{
    display: none;
    
}
.adobe-dropdown-menu{
    width: 500px;
    transform: translateX(-400px) !important;
}

.adobe-dropdown-menu{
    width: 500px;
    transform: translateX(-400px) !important;
}

.dropdown:hover .adobe-dropdown-menu{
    display: flex !important;
}

.dropdown-menu-btn{
    background-color: rgb(245, 248, 255) !important;
}
.dropdown-menu-btn:hover{
    background-color: #dee8ff !important;
    border-color: rgb(84, 187, 255) !important;
    border-width: 1px !important;
}

.dropdown-menu.show ~ .dropdown-overlay {
  display: block !important;
}

.dropdown-resp:hover .dropdown-menu-resp{
    display: block !important;
    transform: translateX(0);

}

.nav2-con{
    width: 200px !important;
}
.nav2-con.active, .nav2-con:hover{
    color: rgb(0, 85, 255);
    background-color: #f5f8ff;
}
.nav2-con span{
    font-size: 14px;
}

.numbers{
    background-color: #dee8ff;
    width: 20px;
    height: 20px;
    font-size: 12px !important;
    padding: 12px;
}

svg{
    height: 50px;
    stroke: #0057ff;
}

@media (max-width: 1000px) {

    .card .card-img-top{
        height: 316;
    }
}

@media (max-width: 768px) {

    .footer-logo{
        width: 150px;
        margin-bottom: 10px;
    }
}

@media (min-width: 780px) {
    .sub-heading{
        width: 70% !important;
    }
}
@media (max-width: 575px) {
    
    .footer-header, .footer-link{
        text-align: center;
    }
}